---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer/Footer.astro'
import { SEO } from "astro-seo";
interface MarkdownFrontmatter {
  date: number;
}

const title = "NAZAVIP";
const description = "NAZA เว็บตรง ปลอดภัย";
const seoDescription = "นักเสี่ยงโชคท่านใดที่มีความต้องการปั่น สล็อต ลองสมัคร pg slot เล่นกับเราสิ แตกง่าย อัพเดททุกเกมและมีโปรโมชั่นดีด้วย";
const meta name="keyword" content= "สมัครสล็อตxo ,สมัครslotxo ,สมัครเว็บตรง";
const allPosts = await Astro.glob<MarkdownFrontmatter>('./posts/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<html lang="TH">

<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PDQGWRJ');</script>
  <!-- End Google Tag Manager -->
<SEO
      title="A Very Descriptive Title"
      description="A heavily optimized description full of well-researched keywords."
      openGraph={{
        basic: {
          title="A Very Descriptive Title"
        }
      }}
      twitter={{
        creator: "@jonasmerlins1"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          },
          { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
          { name: "twitter:description", content: "Agent" },
        ],
      }}
    />
      <meta name="google-site-verification" content="DdEgye0t2Tti9nJ6Fwq7q3NR_zpsdq5FfBW_72YqY7Q" />
  <BaseHead title={title} description={seoDescription} />
</head>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDQGWRJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <body class="bg-white text-black font-body leading-normal personality-casual">
  <Nav />

  <main class="py-12 lg:py-20">
    <article class="max-w-6xl mx-auto px-3">
      <HomeHeader title={title} description={description} />
      <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8" data-test="articles-section">
        {sortedPosts.map(p => <div class="col-span-1">
          <Card post={p} />
        </div>)}
      </section>
    </article>
  </main>

  <section class="flex space-x-8 justify-center text-xl pt-8 font-bold">
    <a href="/posts" class="mr-8" data-test="see-all-link">
      อ่านทั้งหมด<span class="squiggle">&rarr;</span>
    </a>
  </section>

  <Footer />
</body>

</html>